{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <!-- ... -->
    {% block stylesheets %}
        <link rel="stylesheet" href="/public/build/app.css">
    {% endblock %}
</head>
<body>
    <div id="root"></div>
<!-- ... -->
    {% block javascripts %}
        <script src="/public/build/runtime.js"></script>
        <script src="/public/build/app.js"></script>
    {% endblock %}
</body>
</html>